@import "./normalize.scss";
body {
    font-family: -apple-system, "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    list-style: none;
}
a {
    padding: 0;
    text-decoration: none;
}
