.App {
  position: relative;
  &__container {
    padding-left: calc(117px + 3rem);
    width: 100%;
    height: 100%;
  }
}

// Le projet doit être visible en 1024 / 780
// version mobile pas obligatoire.
