.dashboard {
    width: 100%;
    &__bloc-header {
        padding: 159px 0 4.8rem 0;
    }
    &__bloc-graphic {
        border: 1px solid #000;
        width: calc(835px + 31px + 258px);
        height: calc(320px + 30px + 262px);
        margin-bottom: 2rem;
        &__statcard {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}
